html, body {
  width: 100%;
  overflow-x: hidden; /* Evita o overflow horizontal */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimento padrão */
}

* {
  box-sizing: border-box; /* Garante que o padding e a borda não aumentem a largura total */
}

/* Adicionando um estilo para o viewport */
@viewport {
  zoom: 1; /* Impede o zoom involuntário */
}
